body{
  background-color: #C5FFFD;
}

p,h1{
  color: #526760;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-right:10%;
  margin-left:10%;
}
/*Buttons*/
/* .button {
  background-color: #88D9E6;
  border: none;
  color: #526760;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
} */

/*Horizontal Navigation Bar*/
.topNav {
  overflow: hidden;
  background-color: #374B4A;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Style the topnav links */
.topNav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topNav a:hover {
  background-color: #526760;
  color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*Calendar Table*/
table, th, td {
  /* border: 1px solid rgb(44,44,48); */
  /* border-collapse: collapse; */
  margin-left: 30%;
  margin-right: 30%;
}
th, td {
  background-color: #96D4D4;
  width: 20%;
}
